/* Button animation  */
@keyframes lighting{
    0% {
        background-color: red;
    }
    50%{
        background-color: cornflowerblue;
    }
    100%{
        background-color: yellow;
    }
}
/* google font  */
body{
    font-family: 'Oswald', sans-serif;
    max-width: 100%;
    margin: 0;
  }
  /* Banner styling starts */

.banner{
    background-color: rgb(54, 4, 54);
    border-radius: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: flex-end;
}
.banner-text{
    width: 50%;
    padding: 10%;
    color: aliceblue;
}
.banner-text h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0;
}
.banner-text p{
    font-size: 1.5em;
    margin-bottom: 8%;
}
.banner-button a{
    text-decoration: none;
    color: aliceblue;
    background-color: red;
    font-size: 1.75em;
    padding: 1.5% 3%;
    border-radius: 10px;
}
.banner-button a:hover{
    animation: lighting 1s linear 0s infinite alternate;
}
.banner-image{
    width:50%;
    margin-right: 5%;
}
.banner-image img{
    width: 100%;
}
/* Banner Styling end  */
 /* Sidebar Styling starts */
 section{
    width: 80%;
    margin: auto;
}
 .sidebar{
    width: 312px;
    height: 312px;
    background:  rgb(54, 4, 54);
    border-radius: 10px;
}
.page-list{
    width: 252px;
    height: 252px;
}
.page-list a{
    text-decoration: none;
}
.sidebar-button{
    width: 252px;
    height: 64px;
    display: block;
    margin: 30px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
    border: 0;
}
.click-button{
    background-color: black;
    color: #fff;
}
.container{
    display: grid;
    grid-template-columns:312px auto;
    column-gap: 25px;
}
.matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    margin-left: 15px;
}
.match{
    margin-right: 10px;
    border: 1px solid lightgrey;
    border-radius: 12px;
}
span {
    font-weight: 600;
    padding: 0 20px;
    padding-top: 20px;
  }
  .match-info {
    display: flex;
    padding-top: 30px;
    padding-left: 32px;
    margin-right: 20px;
  } 
.teams {
    width: 120px;
    height: 80px;
  }
.match h4 {
    font-size: 25px;
    text-align: center;
  }
.match p {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
  }

/* hidden button  */
.hidden{
    text-align: center;
    display: none;
}
.hidden button{
    font-size: 20px;
    padding: 12px 29px;
    background-color: red;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0px solid red;
    color: aliceblue;

}
/* footer starts */
footer{
    margin-top: 40px;
    width: 100%;
    background: #161616;
}

footer h2{
    padding-top: 130px;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;

}

hr {
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}


footer a{
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    color: #B9B9B9;
    margin-right: 80px;
    margin-bottom: 50px;
}

.footer-info{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icon{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* End of basic site  */

/* Starting media query */

/* For Mobile  */

@media only screen and (max-width:688px) {
    .banner{
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    }
    .banner-text{
        max-width: 80%;
    }
    .banner-image{
        max-width: 80%;
        margin-left: 12% ;
    }
   
    .banner-text h1{
        font-size: 25px;
        text-align: center;
    }
    .banner-text p{
        font-size: 14px;
        text-align: center;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .banner-button{
        text-align: center;
    }.banner-button a{ 
        font-size: 15px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .sidebar{
        background-color: white;
    }
    .sidebar-button{
        font-size: 15px;
    }
    .matches{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 2.5%;
        margin-right: -1x.5%;
    }
    .teams {
        width: 80px;
        height: 60px;
      }
    .match h4 {
        font-size: 20px;
        text-align: center;
      }
    .match p {
        font-size: 15px;
        text-align: center;
        font-weight: 400;
      }
    .footer-info{
        flex-direction: column;
        align-items: center;
        margin-left: 25%;
    }
    footer h2{
        font-size: 20px;
    }
    footer a{
        font-size: 14px;
    }
    .social-icon{
        flex-direction: column;
        align-items: center;
        margin-left: 25%;
    }   
}

/* For Tablet View  */

@media only screen and (min-width:689px) and (max-width:992px) {
    .banner{
        align-items: flex-end;
    }
    .banner-image{
        margin-right: 5%;
    }
    .banner-image img{
        width: 250px;
        height: 400px;
    }
    .banner-text h1{
        font-size: 40px;
    }
    .banner-text p{
        font-size: 14px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
    .sidebar{
        background-color: white;
        margin-left: 25%;
    }
    .matches{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 2.5%;
        margin-right: -1.5%;
    }
    .teams {
        width: 100px;
        height: 80px;
      }
    .match h4 {
        font-size: 25px;
        text-align: center;
      }
    .match p {
        font-size: 20px;
        text-align: center;
        font-weight: 400;
      }
    .hidden {
        display: block;
    }
    .footer-info a {
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        margin: 0;


    }
    .footer-info {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin: 0 80px;
    }
    footer h2{
        font-size: 30px;
        padding-top: 50px;
        margin-bottom: 30px;
    }
    footer a{
        font-size: 20px;
    }
}